
*.*{
	padding:0px;
	padding:1px 2px 1px 10px;
	margin:0px;
	
}

html,body,form {
	height:100%;
}
.conteiner{
	width:1030px;
	margin-left:auto;
	margin-right:auto;
}

.header{
	width:100%;
	height:120px;
}
.header{
	width:100%;
	height:20px;
	background-color:#C3C3C3;
}
.TMtitle{
	width:100%;
	padding:5px;
	height:73px;
}
.TMconteiner{
	width:1030px;
}
,.tweetBody{
	width:900px;
	margin-top:80px;
}
.TMtitleText{
	font-size:24px;
	width:900px;
	height:48px;
	float:left;
	line-height:32px;
}
.TMtitleCommands{
	float:right;
	width:100px;
	color:#DCDCDC;
	background-color:white;
	height:48px;
}
.TMtitleCommands a{
	display:block;
	width:90px;
	height:20px;
	padding:2px;
	line-height:20px;
	text-align:center;
	background-color:gray;
	border-radius: 0.3em ; 
	margin:1px;
	border:solid 1px black;
	cursor:pointer;
}
.TMtitleCommands input{
	display:block;
	width:90px;
	height:25px;
	padding:2px;
	line-height:20px;
	text-align:center;
	background-color:gray;
	margin:1px;
	margin-left:-200px;
	border:solid 1px black;
	cursor:pointer;
}
.tweetSide{
	float:left;

	width:300px;
	
	background-color:gray;
	
}
.tabsHead{
	padding:2px 0px 5px 5px;
	width:99%;
	clear:both;
	height:22px;
}
.tabsHead div{
	border:solid 1px black;
	padding:5px;
	border-radius: 0.5em 0.5em 0em 0em; 
	margin-top:2px;
	margin-bottom:0px;
	background-color:#DCDCDC;
	cursor:pointer;
	float:left;
	border-width:1px 1px 0px 1px;
}
div.currentTab{
	background-color:#9D9DD0;
	border-width:1px 1px 0px 30px;
}
.tweetTab{
	width:100%;
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	z-index:1;
}
.tweetSideArea{
	margin-left:0px;
	height:100%;
	width:300px;
	background-color:#fff;
	min-height:600px;
	padding:0px;
	f loat:left;
}
.tweetList{
	margin-left:0px;
	width:624px;
	background-color:#000E30;
	min-height:600px;
	padding:10px;
	f loat:left;
	z-index:10;
}
.tweetInfo{
	margin-left:0px;
	height:100%;
	width:80px;
	background-color:#565672;
	min-height:600px;
	padding:0px;
	f loat:left;
}
div.tweetTab p{
	clear:both;
	width:100%;
	visibility:hidden;
	height:1px;
	padding:0px;
	margin:0px;
	border-width:0px;
}
.status{
	background-color:black;
	height:54px;
	padding:2px;
	border:dotted 1px #C0C0FF;
	border-width:2px 0px 0px 0px;
	color:gray;
	font-size:9px;
	lineheight:12px;
}
.status div{
	width:50px;
	height:52px;
	padding:4px;
	float:left;
	color:#C0C0FF;
	font-size:16px;
	border:dotted 1px #C0C0FF;
	border-width:0px 1px 0px 0px;
	text-align:center;
	font-size:9px;
	lineheight:20px;
}
.status div.pages{
	border-width:0px;
}
.commands{
	background-color:black;
	height:20px;
	padding:3px 2px 1px 2px;
	height:170px;
	background-color:gray;
	border-radius: 0.5em 0.5em 0em 0em;
	border:solid 1px #C0C0FF;
	border-bottom-width:0px;
	margin:2 2 0 2;
}

.commands div{
}
.MansikiCmdIcon{
	float:left;
	width:80px;
	height:20px;
	border-radius: 0.5em; 
	b order:solid 1px #C0C0FF;
	text-align:center;
	vertical-align:middle;
	
	color:white;
	cursor:pointer;
	background-color:#9C9C9C;
	margin :2px 4px;
	padding:3px;
	background-image:
    --moz-linear-gradient(
      rgba(255, 255, 255, 0.6)   0%,
      rgba(255, 255, 255, 0.4)  50%,
      rgba(255, 255, 255, 0.2)  50%,
      rgba(255, 255, 255,   0) 100%
    );
    border: 1px solid rgba(0, 0, 0, 0.2);
    -border-bottom-width:0px;
    box-shadow: 
    	4px inset rgba(0, 0, 0, 0.5),
    	inset -1px -1pxrgba(255, 255, 255, 0.5)
    ;
}
div.TWFuncIcon{
	width:18px;
	height:20px;
	float:left;
	
}
div.TWFuncChar{
	width:18px;
	height:20px;
	float:left;
}
div.TWFuncName,div.TWFuncCommand{
	height:10px;
	width:38px;
	float:left;
	font-size:9px;
	line-height:10px;
}

#addPageIcon{
	background-color: rgb(51, 204, 255);
}
#addKomaIcon{
	background-color: #35FFDA;
}
#addFukidashiIcon{
	background-color: #33FF7E;
}
#addSettingIcon{
	background-color: #33FF3D;
}
#addManIcon{
	background-color: #7FFF35;
}
#addObjectIcon{
	background-color: #CDFF34;
}
#addBackgroundIcon{
	background-color: #FFEF34;
}
#addSoundIcon{
	background-color: #FFBF34;
}
#addEffectIcon{
	background-color: #FF7E34;
}
#addNalationIcon{
	background-color: #30FF64;
}
#addQuoteIcon{
	background-color: #FF337A;
}
#addSeanIcon{
	background-color: #FF31F5;
}
#addFukusenIcon{
	background-color: #BA2FFF;
}
.inputArea{
	border-radius: 0em 0em 0.5em 0.5em;
	border:solid 1px #C0C0FF;
	border-top-width:0px;
	padding:8px;
	margin:0 2 2 2;
	background-color:gray;
	display: box; 
}
.inputArea textarea{
	width:100%;
	height:72px;
	orverflow:hidden;
	display: box; 
	font-size:12px;
}
.TMinputInfo{
	width:100%;
	height:20px;
	text-align:right;
	padding:2px;
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
}
span#TMTweetMode{
	display:block;
	float:left;
	width:80px;
	text-align:left;
	height:20px;
	border:0px solid black;
	margin:0px 2px;
	border-bottom-width:1px;
}
span#TMTweetType{
	display:block;
	float:left;
	width:100px;
	text-align:right;
	height:20px;
	border:0px solid black;
	margin:0px 2px;
	border-bottom-width:1px;
}
span#TMCursor{
	display:block;
	float:left;
	width:30px;
	text-align:left;
	height:20px;
	border:0px solid black;
	margin:0px 2px;
	border-bottom-width:1px;
}
span#TMTweetCount{
	display:block;
	float:left;
	width:50px;
	text-align:right;
	height:20px;
	border:0px solid black;
	margin:0px 2px;
	border-bottom-width:1px;
}
.deside{
	height:30px;
	width:296px;
	padding:2px;
	border-box:true;
	background-color:#303030;
}
.commandWindows{
	float:left;
	width:116px;
	line-height:22px;

}
.commandWindows input{
	float:right;
	width:50px;
}
.buttons{
	float:left;
	width:180px;
}
.buttons div{
	border-radius: 0.5em;
	border:solid 1px #C0C0FF;
	margin:2 2 2 2;
	float:left;
	font-size:12px;
	padding:5px 15px;
	background-color:#C0C0FF;
	cursor:pointer;
}
.footer{
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	width:980px;
	background-color:#47475E;
	padding:5px 15px 5px 5px;
	text-align:right;
	border:solid 0px #C0C0FF;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	border-width:0px 0px 0px 30px;
	height:20px;
}

div.tweetList {
	float:left;
	overflow-x:hidden;
}

/*---------TweetBox-----------------*/
.TWtweetBoxParent{
	position:relative;
	top:0;
}
.TMtweetBox{
	width:580px;
	padding:2px;
	background-color:white;
	border:solid 1px #C5FFF1;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	margin :2px;
	font-size:12px;
	border-left-width:20px;
	z-index:510;
	opacity:1;
	d isplay: -moz-box; 
	d isplay: -webkit-box;
	display:block;
}
div.twbConteinerFlame{
	margin-left: 5px;
}
div.tweetBoxSideBar{
    width: 7px;
	margin-left: -2px;
    margin-right: -0px;
    background-color:red;
    float: left;
    z-index:530;
}
.tweetBoxCmdFrame{
	padding:0px;
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	background-color:black;
	color:white;
	text-align:right;
	position:relative;
	top:-2px;
	height:0px;
	display:block;
	border:solid 0px black;
	z-index:520;
	visibility:hidden;
}
.tweetBoxConteiner{
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	top:-2px;
	l eft:-467px;
	position:relative;
	width:600px;
	min-height:20px;
	border:solid 0px blue;
	z-index:505;
}
.tweetBoxInfo , .tweetBoxInfoCover{
	position:relative;
	top:-2px;
	min-height:20px;
	width:40px;
	padding:2px 2px;
	min-height:24px;
	border:solid 0px blue;
	z-index:505;
	background-color:white;
	text-align:center;
	color:gray;
}
 .tweetBoxInfoCover{
	position:relative;
	top:-2px;
	left:-40px;
	margin-left:-40px;
	width:40px;
	padding:2px 2px;
	min-height:24px;
	border:solid 0px blue;
	z-index:515;
	background-color:transparent;
	cursor:pointer;
}
.tweetBoxText{
	l eft:-40px;
	position:relative;
	min-height:20px;
	padding:2px;
	width:100%;
	border:solid 0px red;
	z-index:505;
	word-break:break-all;
	word-wrap:break-word;
}
.tweetSlot{
	left:-2px;
	width:100%;
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	min-height:1px;
	padding:0px;
	margin:0px 0px 0px -1px ;
	display:block;
	border:solid 0px green;
	background-color:rgba(0,0,255,0.1) ;
	z-index:18;
}
.TwselectedBox{
	border-color:black;
}

.tweetBoxCmd{
	width:250px;
	margin-left:250px;
	margin-right:250px;
	padding:2px;
	display: -moz-box; 
	display: -webkit-box; 
	display: -webkit-box; 
	background-color:black;
	color:white;
	text-align:right;
	position:relative;
	top:0px;
	height:20px;
	display:inline-block;
}
.TwcommandList{
	width:290px;
	display:block;
	margin-top:30px;
	margin-left:-2px;
	word-wrap:break-word;
	background-color:#1B3428;
	padding :5px;
}
.TwcommandList span{
	line-height:20px;
	display:inline-box;
	padding:1px 2px 1px 10px;
	color:white;
	font-weight:normal;
}
span.TwcommandHliright{
	color:red;
	font-weight:bold;
	
}
.tweetBoxCmd div{
	display:inlinebox;
	width:45px;
	margin:0px 2px;
	border-radius: 0.4em;
	border:solid 1px #C0C0FF;
	text-align:center;
	float:left;
	padding:1px;
	cursor:pointer;
}

.indent1{
	width:580px;
	margin-left :2px;
	
}
.indent2{
	width:550px;
	margin-left :2px;
	m:26px;
}
.indent3{
	width:520px;
	margin-left :2px;
	m:48px;
}
.indent4{
	width:490px;
	margin-left :2px;
	m:70px;
}

#svgAreaArrow{
	position:absolute;
	
}

.indent1 .tweetBoxText {
	width:540px;
}

.indent2 .tweetBoxText {
	width:505px;
}

.indent3 .tweetBoxText {
	width:470px;
}

.indent4 .tweetBoxText {
	width:435px;
}

.indent1 .tweetSlot {
	width:577px;
}

.indent2 .tweetSlot {
	width:542px;
}

.indent3 .tweetSlot {
	width:507px;
}

.indent4 .tweetSlot {
	width:472px;
}

.commentOut{
	opacity:0.5;
}

/*---------------------------*/
div.tweetList div.TweetPageDirRLSideL
,div.tweetList div.TweetPageDirRLSideR
,div.tweetList div.TweetPageDirLRSideL
,div.tweetList div.TweetPageDirLRSideR{
		margin-top:16px;
		d isplay: -webkit-box;　/* Safari,Google Chrome用 */
		d isplay: -moz-box;　/* Firefox用 */
}

div.tweetList div.TweetPageDirRLSideL:before{
    position: absolute;
    content: ' NodeA<<<<<<<';
    height: 16px;
    text-align:left;
    width:572px;
    background: #999;
    padding-left:10px;
    margin:-2px -16px 0px 0px;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    opacity:0.3;
}
div.tweetList div.TweetPageDirRLSideR:before{
    position: absolute;
    content: '>>>>>>>>>>NodeB ';
    text-align:right;
    height: 16px;
    width:572px;
    background: #999;
    padding-right:10px;
    margin:-2px -16px 0px 0px;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    opacity:0.3;
}
div.tweetList div.TweetPageDirLRSideL:before{
    position: absolute;
    content: '>>>>>>>>>>NodeC ';
    text-align:right;
    height: 16px;
    width:572px;
    background: #999;
    padding-right:10px;
    margin:-2px -16px 0px 0px;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    opacity:0.3;
		
}
div.tweetList div.TweetPageDirLRSideR:before{
    position: absolute;
    content: ' NodeD<<<<<<';
    text-align:left;
    height: 16px;
    width:572px;
    background: #999;
    padding-left:10px;
    margin:-2px -16px 0px 0px;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, -16px);
    opacity:0.3;
}
div.tweetList div.TweetPageDirRLSideL:afte r{
    position: absolute;
    content: ' ';
	display: block;
	height:100%;
    width: 20px;
    background: #999;
    margin:-0%  0px 0px -20px;
		background: -moz-linear-gradient(white, gray);
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(gray)); 
}
div.tweetList div.TweetPageDirRLSideR:afte r{
    position: absolute;
    content: ' ';
	display: block;
	height:100%;
    width: 20px;
    background: #999;
    margin:-0%  0px 0px -20px;
		background: -moz-linear-gradient(gray, white);
		background: -webkit-gradient(linear, left top, left bottom, from(gray), to(white)); 
}
div.tweetList div.TweetPageDirLRSideL:afte r{
    position: absolute;
    content: ' ';
	display: block;
	height:100%;
    width: 20px;
    background: #999;
    margin:-0%  0px 0px -20px;
		background: -moz-linear-gradient(white, gray);
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(gray)); 
		
}
div.tweetList div.TweetPageDirLRSideR:afte r{
    position: absolute;
    content: ' ';
	display: block;
	height:100%;
    width: 20px;
    background: #999;
    margin:-0%  0px 0px -20px;
		background: -moz-linear-gradient(gray, white);
		background: -webkit-gradient(linear, left top, left bottom, from(gray), to(white)); 
		
}

div.tweetList div.tweetBoxSideBarLRSideL{
	display: block;
	cle ar:both;
	border:solid 16px #000;
	border-width:16px 0 0 0 ;
		background: -moz-linear-gradient(black ,white , white );
		background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(0.5, white),to(white)); 

}
div.tweetList div.tweetBoxSideBarLRSideR{
	display: block;
	cle ar:both;
	border:solid 16px #000;
	border-width: 0 0 16px 0 ;
		background: -moz-linear-gradient(white , white ,black);
		background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, white),to(black)); 
	
}
div.tweetList div.tweetBoxSideBarRLSideL{
	display: block;
	cle ar:both;
	border:solid 16px #000;
	border-width: 0 0 16px 0 ;
		background: -moz-linear-gradient(white , white ,black);
		background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, white),to(black)); 
	
}
div.tweetList div.tweetBoxSideBarRLSideR{
	display: block;
	cle ar:both;
	border:solid 16px #000;
	border-width:16px 0 0 0 ;
		background: -moz-linear-gradient(black ,white , white );
		background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(0.5, white),to(white)); 
	
}








