/*-----base--------*/
*{
border-width:0px;
margin:0px;
padding:0px;
}
/*-----frame--------*/

input,textarea{
	border:solid black 1px;
	overflow:hidden;
}
div.rows{
	border:solid red 0px;
	margin:0px;
	padding:0px;
	background-color:#000;
	overflow:hidden;
	word-wrap:word-break;
	
}
span.space{
	word-spacing:0px;
	opacity:0;
}
span.space2{
	word-spacing:2em;
	opacity:1;
}
div.nums{
	border:solid red 0px;
	margin:0px;
	background-color:#ccc;
	overflow:hidden;
	word-wrap:word-break;
	text-align:right;
}

div.inneredit{
	width:400px;
	height:300px;
	border:solid 1px green;
	overflow:scroll;
}

div.inneredit textarea{
	width:600px;
	height:600px;
	overflow:hidden;
	background-color:#68FF75;
}
/*---------------------------*/
.HilightingEditor{
	font-family:"Takaoゴシック","Takao Pゴシック","ＭＳ ゴシック","Andale Mono",sans-serif;
	f ont-family:"Andale Mono";
	word-spacing:0px;
	letter-spacing:0px;
}
span.lsa{
	letter-spacing:-2px;
}


