@CHARSET "UTF-8";


div.icon {
    height: 16px;
    width: 16px;
    position: relative;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}


/* Page */
div.icon div.page {
    width: 11px;
    height: 14px;
    background: #eee;
    margin-left: 2px;
    border: 1px solid #333;
    opacity:0.5;
}

div.icon div.page:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 6px;
    background: #999;
    margin: 13px 1px 0 -1px;
}

div.icon div.page:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 6px;
    background: #999;
    margin: 0px 1px 0 -6px;
}

div.icon div.pageLines {
    height: 10px;
    width: 7px;
    position: absolute;
    left: 4px;
    top: 2px;
    background: #fff;
    border: 1px solid #666;
    opacity:0.5;
}

div.icon div.pageLines:after {
    position: absolute;
    content: '';
    height: 14px;
    width: 1px;
    top: -2px;
    left: 3px;
    background: #666;
    margin: 0px 0 0 0;
}

div.icon div.pageLines:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 12px;
    background: #666;
    top: 4px;
    left: -2px;
    margin: 0px 0 0 0;
}

/* Koma */
div.icon div.koma {
    width: 4px;
    height: 4px;
    background: #aaa;
    margin-left: 2px;
    border: 1px solid #333;
    opacity:0.5;
}

div.icon div.koma:before {
    position: absolute;
    content: '';
    height: 5px;
    width: 2px;
    background: #333;
    margin: 6px 1px 0 7px;
}

div.icon div.koma:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 3px;
    background: #fff;
    border: 1px solid #030;
    margin: 0px 0px 0 4px;
}

div.icon div.komaLines {
    height: 3px;
    width: 1px;
    position: absolute;
    left: 3px;
    top: 7px;
    background: #555;
    border: 1px solid #030;
    opacity:0.5;
}

div.icon div.komaLines:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 2px;
    top: -1px;
    left: 3px;
    background: #fff;
    border: 1px solid #900;
    border-width:2px 1px 1px 1px;
    margin: 0px 0 0 0;
}

div.icon div.komaLines:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 4px;
    background: #fff;
    border: 1px solid #009;
    border-width:1px 5px 1px 2px;
    top: 5px;
    left: -1px;
    margin: 0px 0 0 0;
}

/* Home */
div.icon div.home {
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    bottom: 8px;
    left: 0;
}

div.icon div.home:after {
    content: '';
    width: 3px;
    height: 8px;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: -6px;
    border-left: 5px solid #333;
    border-right: 4px solid #333;
}

div.icon div.home:before {
    content: '';
    width: 5px;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 8px;
    right: -3px;
}
/* Pencil */
div.icon div.pencil {
    height: 12px;
    width: 3px;
    background: #333;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 7px;
    top: 3px;
    opacity:0.5;
}

div.icon div.pencil:after {
    content: '';
    height: 2px;
    width: 3px;
    background: #333;
    -webkit-border-radius: 1px 1px 0 0;
    -moz-border-radius: 1px 1px 0 0;
    border-radius: 1px 1px 0 0;
    position: absolute;
    top: -2px;
    left: 0px;
}

div.icon div.pencil:before {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 2px 1px 0 1px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    bottom: -3px;
}
/* Chat Box */
div.icon div.chat {
    margin-left: 2px;
    width: 12px;
    height: 15px;
    background: #333;
    border-radius: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    opacity:0.5;
}

div.icon div.chat:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 2px;
    position: absolute;
    top: 13px;
    left: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

div.icon div.lines {
    background-color: #eee;
    height: 1px;
    width: 6px;
    left: 4px;
    position: absolute;
    top: 4px;
}

div.icon div.lines:after {
    content: '';
    background-color: #eee;
    height: 1px;
    width: 5px;
    position: absolute;
    top: 2px;
}

div.icon div.lines:before {
    content: '';
    background-color: #eee;
    height: 1px;
    width: 8px;
    position: absolute;
    left: 0px;
    top: 5px;
}

/* User */
div.icon div.user {
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 2px 2px 0 0;
    margin-left: 5px;
    margin-top: 2px;
    opacity:0.5;
}

div.icon div.user:after {
    content: '';
    width: 4px;
    height: 4px;
    background: #333;
    position: absolute;
    margin-top: 6px;
    margin-left: -2px;
    
}

div.icon div.user:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 11px;
    left: 1px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    border-width: 0 7px 3px 7px;
}

div.icon div.shoulder {
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0px;
    left: 1px;
    opacity:0.5;
}


/* Bomb */
div.icon div.bomb {
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 12px;
    height: 12px;
    background: #333;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity:0.5;
}

div.icon div.bomb:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 4px;
    width: 4px;
    background: #333;
    height: 1px;
}

div.icon div.bomb:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 7px;
    border: 1px solid #333;
    border-right: none;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    border-radius: 25px 0 0 25px;
    left: 5px;
    top: -4px;
}

/* Cloud-Up */
div.icon div.cloudUp {
    width: 16px;
    height: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #333;
    margin-top: 7px;
    opacity:0.5;
}

div.icon div.cloudUp:before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #333;
    top: 3px;
    right: 2px;
}

div.icon div.cloudUp:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #333;
    top: 4px;
    left: 2px;
}

div.icon div.cloudUpArrow {
    height: 0px;
    width: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    bottom: 6px;
    left: 5px;
    opacity:0.5;
}

div.icon div.cloudUpArrow:after {
    content: '';
    width: 2px;
    height: 0px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 3px 3px 0px 0px;
    position: absolute;
    top: 1px;
    right: -0px;
}

/* Speaker Volume Half */
div.icon div.speakerVolH {
    width: 6px;
    height: 6px;
    background: #333;
    margin: 6px 0 0 2px;
    opacity:0.5;
}

div.icon div.speakerVolH:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
    border-width: 6px 8px 6px 8px;
    left: -6px;
    top: 3px;
}

div.icon div.speakerVolH:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border-style: double;
    border-color: #333;
    border-width: 4px 4px 0 0;
    -webkit-border-radius: 0 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    border-radius: 0 25px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 11px;
    top: 6px;
}
/* Microphone */
div.icon div.mic {
    width: 5px;
    background: #333;
    height: 5px;
    border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    position: absolute;
    top: 1px;
    left: 5px;
    opacity:0.5;
}

div.icon div.mic:after {
    position: absolute;
    content: '';
    width: 5px;
    background: #333;
    height: 5px;
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    top: 6px;
    left: 0
}

div.icon div.holder {
    position: absolute;
    height: 5px;
    width: 7px;
    left: 3px;
    top: 8px;
    border: 1px solid #333;
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    border-top: none;
    opacity:0.5;
}

div.icon div.holder:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 2px;
    background: #333;
    top: 6px;
    left: 2px;
}

div.icon div.holder:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 1px;
    background: #333;
    bottom: -3px;
    left: 1px;
}

/* Ribbon */
div.icon div.ribbon {
    width: 6px;
    height: 10px;
    background: #333;
    margin: 1px 0px 0 5px;
    opacity:0.5;
}

div.icon div.ribbon:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    width: 0;
    height: 0;
    border: solid #333;
    border-color: transparent #333 transparent #333;
    border-width: 3px 3px 4px 3px;
}

/* Location */
div.icon div.location {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 9px 4px 4px 4px;
    margin: 8px 0 0 4px;
    opacity:0.5;
}

div.icon div.location:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 9px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background: #333;
    left: 3px;
    top: 1px;
}

div.icon div.location:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background: #ddd;
    left: 6px;
    top: 3px;
    z-index: 2;
}

/* Target */
div.icon div.target {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 4px double #333;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0.5;
}

div.icon div.target:after {
    content: '';
    position: absolute;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 6px;
    height: 6px;
    background: #333;
    left: 1px;
    top: 1px;
}


/* Key */
div.icon div.key_base {
    width: 11px;
    height: 11px;
    background: #333;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0.5;
}

div.icon div.key_base:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #ddd;
}

div.icon div.key_base:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 2px;
    border-top: 3px solid #333;
    border-right: 1px solid #333;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    left: 9px;
    top: 7px;
}

div.icon div.key_squares {
    width: 3px;
    height: 3px;
    background: #333;
    position: absolute;
    top: 9px;
    left: 8px;
    opacity:0.5;
}

div.icon div.key_squares:after {
    content: '';
    width: 3px;
    height: 3px;
    background: #333;
    position: absolute;
    top: 2px;
    left: 2px;
}

div.icon div.key_squares:before {
    content: '';
    width: 3px;
    height: 3px;
    background: #333;
    position: absolute;
    top: 4px;
    left: 4px;
}
